
@{
    ViewBag.Title = "Contact";
  
}

<h2>Contact</h2>
@{ 
    ViewBag.Msg = "Welcome to Contact Page";
}


@section name{

    <a class="nav-link" href="#">Facebook</a>
    <a class="nav-link" href="#">E-mail</a>
}