
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

@{ 
    ViewBag.Msg = "Welcome to Home Page";
}

    @section name{

    <a class="nav-link" href="#">Facebook</a>
    <a class="nav-link" href="#">E-mail</a>
}